RewriteEngine On
RewriteRule ^admin controller/admin.php [NC,L]
RewriteRule ^api/checkAccount controller/account/checkAccount.php [NC,L]
RewriteRule ^api/authentication controller/account/authentication.php [NC,L]
RewriteRule ^api/logout controller/account/logout.php [NC,L]
RewriteRule ^api/addProduct controller/product/addProduct.php [NC,L]
RewriteRule ^api/getProducts controller/product/getProducts.php [NC,L]
RewriteRule ^api/updateProduct controller/product/updateProduct.php [NC,L]
RewriteRule ^api/searchProduct controller/product/searchProduct.php [NC,L]
RewriteRule ^api/addPrice controller/price/addPrice.php [NC,L]
RewriteRule ^api/updatePrice controller/price/updatePrice.php [NC,L]
RewriteRule ^api/searchPrice controller/price/searchPrice.php [NC,L]
RewriteRule ^api/getPrices controller/price/getPrices.php [NC,L]
RewriteRule ^api/addBill controller/bill/addBill.php [NC,L]
RewriteRule ^api/getBills controller/bill/getBills.php [NC,L]
RewriteRule ^api/getBill controller/bill/getBill.php [NC,L]
RewriteRule ^api/searchBill controller/bill/searchBill.php [NC,L]
RewriteRule ^api/getDataExcel controller/excel/getData.php [NC,L]
RewriteRule ^api/exportExcel controller/excel/exportExcel.php [NC,L]
RewriteRule ^api/getStatistical controller/statistical/getStatistical.php [NC,L]
RewriteRule ^css/index css/index.css [NC,L]
RewriteRule ^css/admin css/admin.css [NC,L]
RewriteRule ^js/index js/index.js [NC,L]
RewriteRule ^js/admin js/admin.js [NC,L]
RewriteRule ^js/authentication js/authentication.js [NC,L]
